### Scala ###
async/target
actorbintree/target
target
*.class
*.log

### Intellij ###
*.iml
*.ipr
*.iws
.idea
out

### sbt ###
target/
.cache
.history
.lib/
dist/*
lib_managed/
src_managed/
project/boot/
project/plugins/project/%
